<!DOCTYPE html>
<html>
  <head>
    <title>vue 3 basic</title>
    <style>
      .box{
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form/>

      <hr>

      <button v-on:click="toggleBox">Toggle box</button>
      <div v-if="isVisible" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function() {
          return {
            greeting: 'Hello Vue 3!',
            isVisible: false
          }
        },
        methods: {
          toggleBox(){
            this.isVisible = !this.isVisible
          },
          greet(){
            console.log(this.greeting)
          }
        }
      })
      app.component('login-form', {
        template: `
          <form @submit.prevent="handleSubmit">
            <h1> {{title}}</h1>
            <custom-input v-for="(input, index) in inputs" key="index" v-model="input.value" v-bind:label="input.label" :type="input.type"/>
            <button>Log in</button>
          </form>
        `,
        components: ['custom-input'],
        data(){
        return {
          title: 'Login Form',
          inputs: [
            {
              label: "Email",
              value: "",
              type: "email"
            },
            {
              label: "Password",
              value: "",
              type: "password"
            },
          ],
        }
      },
      methods: {
        handleSubmit(){
          console.log("subbmited")
          console.log(this.inputs[0].value, this.inputs[1].value)
        }
      }
      })
      app.component('custom-input',{
        template: `
          <label>
            {{label}}
            <input :type="type" v-model="inputValue">
          </label>
        `,
        props: ["label", "modelValue", "type"],
        computed:{
          inputValue: {
            get(){
              return this.modelValue
            },
            set(value){
              this.$emit('update:modelValue', value)
            }
          }
        }
        // data(){
        //   return {
        //     inputValue: ""
        //   }
        // }
      })
      app.mount('#app')
    </script>
  </body>
</html>